<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72be8250-a55a-48f4-95ec-0663793b9482" Alias="homepage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="cebc0d3d-b005-4aa0-99c0-422890730767">comCMS</Composition>
      <Composition Key="b4c1a272-1662-4205-8fe4-4bab0dad87c0">comContent</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7d4bb09d-364f-41fb-9b29-db8b0a037c2f">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c948d62f-179c-4478-9e3e-9b2a74a34881</Key>
      <Name>activities Description</Name>
      <Alias>activitiesDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Actividades</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>08e6c838-7da5-4450-90f0-0bee3d50edf6</Key>
      <Name>activities title</Name>
      <Alias>activitiesTitle</Alias>
      <Definition>d7885252-e5ba-403e-8f96-8af46755e207</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Actividades</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6a1ebb29-8150-47b7-9ced-a5ef0f3009b6</Key>
      <Name>ficheiro mp4 video</Name>
      <Alias>ficheiroMp4Video</Alias>
      <Definition>83fba350-eac0-4a08-bbfc-dd7416a72e88</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Video</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>17a62403-21d9-4e51-9029-2abf587a1d74</Key>
      <Name>fully tangible description</Name>
      <Alias>fullyTangibleDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>100% Tangivel</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7faec697-c387-4e67-9de7-df707efecdc9</Key>
      <Name>fully tangible title</Name>
      <Alias>fullyTangibleTitle</Alias>
      <Definition>d7885252-e5ba-403e-8f96-8af46755e207</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>100% Tangivel</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b70b7e8c-840a-49e3-9a7f-f30c927db983</Key>
      <Name>How it Works Description</Name>
      <Alias>howItWorksDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Como Funciona</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>71556dc2-39cf-494e-aef4-7a1cf1a30af7</Key>
      <Name>How it Works Title</Name>
      <Alias>howItWorksTitle</Alias>
      <Definition>d7885252-e5ba-403e-8f96-8af46755e207</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Como Funciona</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ca5d2c6d-a223-4286-a4a5-ea33ce912604</Key>
      <Name>Descrição</Name>
      <Alias>inclusiveEducationDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Ensino inclusivo</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>08d047d5-7868-4e5a-96c7-0b45a7a40128</Key>
      <Name>Título</Name>
      <Alias>inclusiveEducationTitle</Alias>
      <Definition>d7885252-e5ba-403e-8f96-8af46755e207</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Ensino inclusivo</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f23d77d2-0adc-497c-a4c7-64527b5ac97c</Key>
      <Name>Intro</Name>
      <Alias>intro</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Texto introdução página]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Banner</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8042743c-1fb5-48b4-9ba7-9cf4fa85f667</Key>
      <Name>Descrição Migo</Name>
      <Alias>migoDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>O que é o Migo</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a9d096f8-a2ca-40f8-8d8a-1f0a6747c539</Key>
      <Name>Título</Name>
      <Alias>migoTitle</Alias>
      <Definition>d7885252-e5ba-403e-8f96-8af46755e207</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Colocar apenas o título]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>O que é o Migo</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a7710ab8-c515-4868-9e79-dbf9902c8361</Key>
      <Name>Descrição</Name>
      <Alias>pedagogyDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Pedagogia</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b9051f90-28c9-44a1-aec4-9f225bedc2f6</Key>
      <Name>Título</Name>
      <Alias>pedagogyTitle</Alias>
      <Definition>d7885252-e5ba-403e-8f96-8af46755e207</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Pedagogia</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bbbf6937-5618-4a62-b26a-5d59380c69f1</Key>
      <Name>Descrição</Name>
      <Alias>tangibleProgramingDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Programação Tangível</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>77e23178-fb36-4d1a-9b09-acafe11701cc</Key>
      <Name>Título</Name>
      <Alias>tangibleProgramingTitle</Alias>
      <Definition>d7885252-e5ba-403e-8f96-8af46755e207</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Programação Tangível</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>07f5d224-6d28-4ac3-a61b-b6f571466f6a</Key>
      <Name>youtube video</Name>
      <Alias>youtubeVideo</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^((?:https?:)?\/\/)?((?:www|m)\.)?((?:youtube\.com|youtu.be))(\/(?:[\w\-]+\?v=|embed\/|v\/)?)([\w\-]+)(\S+)?$</Validation>
      <Description><![CDATA[url video youtube]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Video</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Banner</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>O que é o Migo</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Programação Tangível</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Pedagogia</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Ensino inclusivo</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Actividades</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Caption>100% Tangivel</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Caption>Video</Caption>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Caption>Como Funciona</Caption>
      <SortOrder>8</SortOrder>
    </Tab>
  </Tabs>
</ContentType>