<?xml version="1.0" encoding="utf-8"?>
<homepage Key="669685a7-761d-4e2e-b127-045dc2a0b67f" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
  </Info>
  <Properties />
</homepage>