<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="72be8250-a55a-48f4-95ec-0663793b9482" Alias="homepage" Level="2">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-home color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="cebc0d3d-b005-4aa0-99c0-422890730767">comCMS</Composition>
      <Composition Key="b4c1a272-1662-4205-8fe4-4bab0dad87c0">comContent</Composition>
    </Compositions>
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7d4bb09d-364f-41fb-9b29-db8b0a037c2f">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>