<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83fba350-eac0-4a08-bbfc-dd7416a72e88" Alias="Homepage - ficheiro mp4 video - File upload" Level="1">
  <Info>
    <Name>Homepage - ficheiro mp4 video - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <SortOrder>30</SortOrder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>