<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7885252-e5ba-403e-8f96-8af46755e207" Alias="RTE - Title" Level="1">
  <Info>
    <Name>RTE - Title</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>29</SortOrder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styleselect"
    ],
    "stylesheets": [
      "/css/rte.css"
    ],
    "maxImageSize": 200,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>